{% extends "layout.html" %}

{% block content %}


<div style="background-color: orangered;padding-top: 50px;padding-bottom: 3px;">

<div class="container mt-5" style="display: flex;align-items: center; justify-content: center;">
  
    
    <form method="post" enctype="multipart/form-data">
    <div>
        <h1 class="text-center mt-5" style="color: white;">REGISTER</h1>
        {% include '_messages.html' %}
        {% from "_formhelpers.html" import render_field %}
    <div style="color: black;">
    {{ render_field(form.name, class="form-control") }}
    {{ render_field(form.username, class="form-control") }}
    {{ render_field(form.email, class="form-control") }}
    {{ render_field(form.password, class="form-control") }}
    {{ render_field(form.confirm, class="form-control") }}
    <input type="file" name="photo">
</div>
    </div>
    <br>

    <p><input type=submit value="Register" class="btn btn-outline-success btn-lg mt-2" style="color: white;"></p>
    </form>
</div>
</div>



{% endblock %}